<div class="w-xl rounded-xl bg-orange-500 px-5 pt-2 pb-4 mb-3 mx-auto">

    <h2 class="text-center text-black text-3xl font-bold mb-4">
        <%= form_type=="idea" ? "Proposer une nouvelle idée" : "Écrire un commentaire" %>
    </h2>

    <form action=<%= form_type=="idea" ? "/api/idees" : "/api/idees/" + idea.id + "/commentaire" %> method="post" class="flex flex-col text-black">

        <label for=<%=form_type %> class="text-xl font-medium mb-2">
            <%= form_type=="idea" ? "Idée" : "Commentaire" %>
        </label>
        <textarea name=<%=form_type %> id=<%= form_type %> class="bg-slate-300 rounded-2xl p-3 text-lg"></textarea>

        <button type="submit"
            class="bg-slate-500 hover:bg-slate-200 text-white hover:text-black rounded-2xl mt-3 p-3 text-lg font-black w-fit self-center">
            <%= form_type=="idea" ? "Proposer une idée" : "Poster un commentaire" %>
        </button>
    </form>

</div>