<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= idea.name %>
    </title>
    <link rel="stylesheet" type="text/css" href="../views/styles.css">
</head>

<body class="size-full">

    <%- include('../partials/header'); %>

        <main class="relative ml-[11vw] w-[89vw] flex flex-col justify-start">

            <div class="flex justify-center">
                <h2 class="text-center text-4xl mb-5 font-black">
                    <%= idea.name %>
                </h2>
                <form action=<%="/idea/" + idea.id + "/like" %> method="post">
                    <button type="submit" class="bg-transparent hover:bg-amber-500 rounded-full text-white font-bold text-lg ml-8">
                        <%= idea.like ? "♥" : "♡" %>
                    </button>
                </form>
            </div>

            <div class="w-5xl mx-auto flex flex-col mt-5 mb-12 p-4 rounded-xl bg-orange-500">
                <p class="text-lg text-black font-bold">
                    <%= idea.content %>
                </p>
                <p class="text-sm text-slate-900 font-medium">Likes : <%= idea.likes %> - Commentaires : <%= idea.comments.length %>
                </p>
            </div>

            <%- include('../partials/formBox', {form_type: "comment" }); %>



        </main>

</body>

</html>