<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= idea.name %>
    </title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body class="size-full">

    <%- include('../partials/header'); %>

        <main class="relative w-full flex flex-col justify-start mr-5">

            <div class="flex justify-center items-center mb-5">

                <form action=<%="/api/idees/" + idea.id %> method="delete">
                    <button type="submit"
                        class="bg-transparent hover:bg-amber-500 rounded-full text-white font-bold py-[0.2rem] px-[0.8rem] text-xl mr-8">
                        X - Delete
                    </button>
                </form>

                <h2 class="text-center text-4xl font-black">
                    <%= idea.name %>
                </h2>

                <form action=<%="/api/idees/" + idea.id + "/" + (idea.like ? "deletelike" : "like") %> method="post">
                    <button type="submit"
                        class="bg-transparent hover:bg-amber-500 rounded-full text-white font-bold py-[0.2rem] px-[0.6rem] text-3xl ml-8">
                        <%= idea.like ? "♥" : "♡" %>
                    </button>
                </form>

            </div>

            <div class="w-full max-w-5xl mx-auto flex flex-col mt-5 mb-12 p-4 rounded-xl bg-orange-500">

                <p class="text-lg text-black font-bold">
                    <%= idea.content %>
                </p>

                <hr class="mt-3">
                <p class="text-sm text-slate-900 font-medium mt-2">Likes : <%= idea.likes %> - Commentaires : <%=
                            idea.comments.length %>
                </p>

            </div>

            <%- include('../partials/formBox', {form_type: "comment", idea: idea }); %>

                <ul class="w-full max-w-5xl mx-auto flex flex-col mt-5 mb-12 p-4 items-center">
                    <%- idea.comments.map((comment)=> ( include('../partials/componentComment', {comment: comment, idea: idea}) ))
                        %>
                </ul>

        </main>

</body>

</html>